{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
<div class="max-w-lg mx-auto">
    <div class="text-center mb-8 mt-8">
        <h1 class="text-4xl font-bold text-gray-900 mb-2">Check Your Email</h1>
        <p class="text-gray-600 text-lg">If an account exists for that email address, we have sent you instructions to reset your password.</p>
        <div class="w-24 h-1 bg-green-500 mx-auto mt-4 rounded"></div>
    </div>
    <div class="bg-green-50 border border-green-200 rounded-lg p-6 text-center">
        <p class="text-green-800">Please check your inbox and spam folder. If you don't receive an email, try again or <a class="underline" href="{% url 'signup' %}">sign up</a> for an account.</p>
    </div>
    <div class="py-5 border-t border-gray-200 mt-5 text-center">
        <a class="hover:text-blue-500" href="{% url 'login' %}">Back to Login</a>
    </div>
</div>
{% endblock content %}