{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
    <div class="max-w-lg mx-auto">    
        <form method="POST" class="mt-5">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex items-center mt-2">
                <input id="show-password" type="checkbox" class="mr-2">
                <label for="show-password">Show Password</label>
            </div>
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Signup</button>
        </form>
        <div class="py-5 border-t border-gray-200 mt-5">
            <a class="hover:text-blue-500 mt-3" href="{% url 'login' %}">Already have an account?</a>
        </div>
    </div>

    <script>
        document.getElementById('show-password').addEventListener('change', function() {
            var passwordFields = document.querySelectorAll('input[type=password], input[type=text][data-type="password"]');
            passwordFields.forEach(function(passwordField) {
                if (passwordField.type === 'password') {
                    passwordField.type = 'text';
                    passwordField.setAttribute('data-type', 'password');
                } else {
                    passwordField.type = 'password';
                    passwordField.removeAttribute('data-type');
                }
            });
        });
    </script>
{% endblock content %}
